mixin CardText(config) 
  .card.card-span.mb-3.shadow-lg
    .row.gx-4.justify-content-center
      .col-md-8(class=`${config.order}`)
        img.img-fluid.w-100(src=`${CWD}assets/img/gallery/${config.image}` alt='...' class=`${config.rounded}`)  
      .col-md-4
        .card-body.px-5
          h1.card-title.mt-5.mb-4!=config.title
          p.fs-1!=config.text
          a.btn.btn-lg.btn-primary.mt-6.text-light(href='#!') PROCEED TO ORDER
            i.fas.fa-chevron-right.ms-2